<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 {{ section.text_style | default: 'text-center' }}">
        <h2 class="text-white mt-0 text-center">{{ section.title }}</h2>
        <hr class="divider light my-4">
        <div class="text-white-50 mb-4 ">{{ section.text | markdownify }}</div>
      </div>
    </div>
    {% include actions.html actions=section.actions %}
    <br>
    <div class="row justify-content-center">
      
      <div class="col-lg-6 text-left" style="background: #333;color:#fff;border-radius: 5px;padding: 15px 5px;font-size: 12px;">
      <span style="color:#aaa"># distributor tool kit</span><br>
      $ npm install @powerbotkit/distributor<br><br>
      <span style="color:#aaa"># consumer tool kit</span><br>
      $ npm install @powerbotkit/consumer
      </div>
    </div>
  </div>
</section>
